body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
}

.container {
    container: formNew / inline-size;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5px;
    justify-items: stretch;
    align-items: flex-start;

    div {
        display: grid;
        gap: 5px;
    }

    .input-group {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 100px 1fr;
        align-items: baseline;

        label {
            color: #000088;
            font-weight: bold;
            text-align: right;
            padding-left: 10px;
        }

        input, textarea {
            padding: 5px;
        }

        textarea {
            min-height: 2em;
            field-sizing: content;
            font-family: inherit;
        }
    }
}

@container formNew (width < 1000px) {
    .form-container {
        grid-template-columns: auto 1fr;
        background-color: red;

        div {
            display: contents;
        }
    
        .input-group {
            grid-template-columns: subgrid;
            margin: 0 5px;
        }
    }
}